<!DOCTYPE html>
<html lang="en" class="fullscreen">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minerva</title>
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/minerva.css?_dc=@(DateTime.Now.Ticks)" />
  @RenderSection("Styles", required: false)
</head>
<body class="fullscreen">
  <script src="/bootstrap.bundle.min.js?dc=@(DateTime.Now.Ticks)"></script>
  @RenderBody()
  @RenderSection("Scripts", required: false)
</body>
</html>
