@model string

<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item me-auto">
    <span class="h3 fw-bold border-0 bg-transparent">Minerva</span>
  </li>
  <li class="nav-item">
    <a href="/" class="nav-link @((Model == "Index" ? "active" : ""))">Home</a>
  </li>
  <li class="nav-item">
    <a href="/Simulation" class="nav-link @((Model == "Simulation" ? "active" : ""))">Simulation</a>
  </li>
</ul>