# MacOS
.DS_Store

# Python
.pytest_cache
__pycache__

# CSharp
bin
obj
launchSettings.json
appsettings.Development.json

# JavaScript
node_modules
package-lock.json

# Others
minio
libs
logs
.ipynb_checkpoints
