@use 'variables' as *;

//
// Header navs (_card.scss 131)
//

.card-header-tabs {
  .nav-link.active {
    font-weight: bold;
    border-color: #b5b5b5;
    // background-color: #eaeaea;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #fff), color-stop(0%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #fff, #eaeaea);
    background-image: -moz-linear-gradient(top, #fff, #eaeaea);
    background-image: -o-linear-gradient(top, #fff, #eaeaea);
    background-image: -ms-linear-gradient(top, #fff, #eaeaea);
    background-image: linear-gradient(top,#fff, #eaeaea);
  }
}

//
// Tabs (_nav.scss 56)
//

.nav-tabs {
  .nav-link {
    color: $body-color;
    border: 1px solid #b5b5b5;
    // background-color: #eaeaea;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #dcdcdc), color-stop(0%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #dcdcdc, #eaeaea);
    background-image: -moz-linear-gradient(top, #dcdcdc, #eaeaea);
    background-image: -o-linear-gradient(top, #dcdcdc, #eaeaea);
    background-image: -ms-linear-gradient(top, #dcdcdc, #eaeaea);
    background-image: linear-gradient(top, #dcdcdc, #eaeaea);

    &:hover,
    &:focus {
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
      // background-color: #f2eeee;
      background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #fff), color-stop(0%, #f0f0f0));
      background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
      background-image: -moz-linear-gradient(top, #fff, #f0f0f0);
      background-image: -o-linear-gradient(top, #fff, #f0f0f0);
      background-image: -ms-linear-gradient(top, #fff, #f0f0f0);
      background-image: linear-gradient(top, #fff, #f0f0f0)
    }

    // .nav-link.active,
    // .nav-item.show .nav-link {
    //   color: var(--#{$prefix}nav-tabs-link-active-color);
    //   background-color: var(--#{$prefix}nav-tabs-link-active-bg);
    //   border-color: var(--#{$prefix}nav-tabs-link-active-border-color);
    // }
  }
}