@use 'variables' as *;

@import '../../rosie/scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
// @use '../../../node_modules/toastr/build/toastr.min.css';
// @use '../../../node_modules/c3/c3.min.css';

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// @font-face {
//   font-display: swap;
//   font-family: 'Noto Sans Arabic';
//   font-stretch: 100%;
//   font-style: normal;
//   font-weight: 100 900;
//   src: url('/webfonts/noto-sans-arabic.woff2') format("woff2");
//   unicode-range: u+06??, u+0750-077f, u+0870-088e, u+0890-0891, u+0897-08e1, u+08e3-08ff, u+200c-200e, u+2010-2011, u+204f, u+2e41, u+fb50-fdff, u+fe70-fe74, u+fe76-fefc, u+102e0-102fb, u+10e60-10e7e, u+10ec2-10ec4, u+10efc-10eff, u+1ee00-1ee03, u+1ee05-1ee1f, u+1ee21-1ee22, u+1ee24, u+1ee27, u+1ee29-1ee32, u+1ee34-1ee37, u+1ee39, u+1ee3b, u+1ee42, u+1ee47, u+1ee49, u+1ee4b, u+1ee4d-1ee4f, u+1ee51-1ee52, u+1ee54, u+1ee57, u+1ee59, u+1ee5b, u+1ee5d, u+1ee5f, u+1ee61-1ee62, u+1ee64, u+1ee67-1ee6a, u+1ee6c-1ee72, u+1ee74-1ee77, u+1ee79-1ee7c, u+1ee7e, u+1ee80-1ee89, u+1ee8b-1ee9b, u+1eea1-1eea3, u+1eea5-1eea9, u+1eeab-1eebb, u+1eef0-1eef1
// }

html,
body,
#react-root {
  @include fullscreen();
//   font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

aside {
  width: var(--sidebar-w);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  &.collapsed {
    width: var(--sidebar-collapsed-w);
    .nav-link { justify-content: center; }
    .nav-item-label { opacity: 0; width: 0; overflow: hidden; white-space: nowrap; }
    .sidebar-collapse-btn  { opacity: 1; }
  }

  .nav-link { display: inline-flex; }
}

.sidebar-collapse-btn {
  opacity: 0;
}

aside:hover .sidebar-collapse-btn { opacity: 1; }

// .app-wrapper { flex: 1 }

// .c3 {
//   // Axis text
//   text { font-size: .75rem; fill: #9b9b9b; }

//   // Axis lines & ticks — match border color
//   .c3-axis path, .c3-axis line { stroke: $border-color; }

//   // Grid lines — very subtle (Notion-style)
//   .c3-ygrid line { stroke: $gray-200; stroke-dasharray: none; }
//   .c3-xgrid line { stroke: $gray-200; }

//   // Tooltip
//   .c3-tooltip {
//     border-radius: $border-radius;
//     box-shadow: $box-shadow;
//     td { font-size: .75rem; }
//     th { background-color: $gray-100; font-size: .75rem; }
//   }

//   // Legend
//   .c3-legend-item text { font-size: .75rem; fill: $body-color; }
// }

#dotnet-compile-error { display: none !important; }
