@use 'variables' as *;

@use 'base' as *;
@use '../../../node_modules/toastr/build/toastr.min.css';
@use '../../../node_modules/c3/c3.min.css';

@use 'reset' as *;

aside {
  width: 15rem;
  background-color: #f9f8f7;
//   .nav-link {
//     &:hover {
//       // background-color: $component-hover-bg;
//     }
//     &.active {
//       // color: $component-active-color;
//       // background-color: $component-active-bg;
//     }
//   }
}

#dotnet-compile-error { display: none !important; }