services:
  minio:
    image: minio/minio
    container_name: minio
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
      MINIO_DOMAIN: minio
    ports:
      - 9000:9000 # API
      - 9001:9001 # Console
    volumes:
      - ../../../minio:/data # Mount local ../minio directory to /data

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres # Default DB; init script creates others
    volumes:
      - ../../../postgres:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh

  jupyter:
    image: tabulario/spark-iceberg
    container_name: jupyter
    depends_on:
      - minio
      - postgres
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
      AWS_ACCESS_KEY_ID: admin
      AWS_SECRET_ACCESS_KEY: password
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: iceberg  # Iceberg catalog DB
    volumes:
      - ../notebooks:/home/iceberg/notebooks # for Jupyter work
      - ./processor:/home/iceberg/processor
      - ../products:/home/iceberg/data/products
    ports:
      - 8888:8888 # Jupyter
      - 7077:7077 # Spark master

  airflow:
    build:
      context: ..
      dockerfile: src/Dockerfile.airflow
    container_name: airflow
    restart: always
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/airflow
      AIRFLOW__CORE__FERNET_KEY: 'gVqOwBQL2OeREGfnmwnuhR5QliF0yRHcXYr5x7cyxPU='
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    ports:
      - 8080:8080
    depends_on:
      - postgres
    volumes:
      - ../airflow/dags:/opt/airflow/dags
      - ../airflow/jobs:/opt/airflow/jobs
      - ../airflow/logs:/opt/airflow/logs
    command: |
      bash -c "
      airflow db init
      airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password password || true
      airflow webserver --port 8080 &
      airflow scheduler
      "
